.card-potion{
    margin: 5px;
}

.card-img{
    width: 160px;
    height: 160px;
}

.card-span{
    color: #b6390c;
    margin-left: 5px;
}

.card-btn{
    background-color: #ffffff;
    border-width: 0;   
}