.container-card__potions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;     
}

   
h2{
        margin-top: 265px;
        margin-left: 20px;
}
     
  